## Importing the ususal suspects

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### Identity Matrix
#### np.identity(3)

In [4]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### Missing feature 
#### fuel_unit

In [6]:
fuel_data = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [17]:
fuel_data.info() # use the mode value in other features to determine the missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
record_id                       29523 non-null object
utility_id_ferc1                29523 non-null int64
report_year                     29523 non-null int64
plant_name_ferc1                29523 non-null object
fuel_type_code_pudl             29523 non-null object
fuel_unit                       29343 non-null object
fuel_qty_burned                 29523 non-null float64
fuel_mmbtu_per_unit             29523 non-null float64
fuel_cost_per_unit_burned       29523 non-null float64
fuel_cost_per_unit_delivered    29523 non-null float64
fuel_cost_per_mmbtu             29523 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [14]:
fuel_data[fuel_data['fuel_unit'].notnull() == False].head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
66,f1_fuel_1994_12_9_3_13,9,1994,mickleton,oil,NaN,3547.0,5.606160,41.930,41.77,7.480
152,f1_fuel_1994_12_8_1_14,8,1994,ar nuclear one,nuclear,NaN,43461380.0,3.412600,1.654,0.00,0.485
277,f1_fuel_1994_12_74_0_3,74,1994,perry k & w,other,NaN,2654942.0,0.100000,0.044,0.00,0.440
626,f1_fuel_1994_12_117_0_1,117,1994,nine mile unit 1,nuclear,NaN,401216.0,0.127467,78.446,0.00,0.615
627,f1_fuel_1994_12_117_0_4,117,1994,nine mile unit 2,nuclear,NaN,313736.0,0.119756,57.534,0.00,0.480

## Second and Third Lowest Correlation with Fuel Cos Per Unit Burned

#### fuel_qty_burned and fuel_mmbtu_per_unit

In [19]:
fuel_data.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

## % change in fuel cost per unit burned (1994 & 1998)

#### -21%

In [33]:
percent_94 = fuel_data[(fuel_data['report_year'] == 1994) & (fuel_data['fuel_type_code_pudl'] == 'coal')]['fuel_cost_per_unit_burned'].sum()
percent_98 = fuel_data[(fuel_data['report_year'] == 1998) & (fuel_data['fuel_type_code_pudl'] == 'coal')]['fuel_cost_per_unit_burned'].sum()
percentage_change = 100 * (percent_98 - percent_94)/percent_94

In [35]:
round(percentage_change)

-21.0

## Year with highest Average Fuel Cost Per Unit Delivered

#### 1997

In [54]:
max_average = fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().reset_index()['fuel_cost_per_unit_delivered'].max()
grouped_by_year = fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().reset_index()

In [55]:
grouped_by_year[grouped_by_year['fuel_cost_per_unit_delivered'] == max_average]

   report_year  fuel_cost_per_unit_delivered
3         1997                  11140.197239

## STD and 75th Percentile of Energy per Unit

#### 10.60 and 17.01

In [56]:
std = fuel_data['fuel_mmbtu_per_unit'].std()
percentile_75th = fuel_data['fuel_mmbtu_per_unit'].quantile(0.75)

In [58]:
round(std, 2), round(percentile_75th, 2)

(10.6, 17.01)

## Skewness and Kurtosis of Fuel Quantity Burned

#### 15.85, 651.37

In [59]:
skewness = fuel_data['fuel_qty_burned'].skew()
kurtosis = fuel_data['fuel_qty_burned'].kurt()

In [60]:
round(skewness, 2), round(kurtosis, 2)

(15.85, 651.37)

## Feature with missing values and Its Percentage to total rows

#### Feature: fuel_unit, Total: 180, Percent: 0.006

In [61]:
fuel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
record_id                       29523 non-null object
utility_id_ferc1                29523 non-null int64
report_year                     29523 non-null int64
plant_name_ferc1                29523 non-null object
fuel_type_code_pudl             29523 non-null object
fuel_unit                       29343 non-null object
fuel_qty_burned                 29523 non-null float64
fuel_mmbtu_per_unit             29523 non-null float64
fuel_cost_per_unit_burned       29523 non-null float64
fuel_cost_per_unit_delivered    29523 non-null float64
fuel_cost_per_mmbtu             29523 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [73]:
# total rows with missing values
len(fuel_data[fuel_data['fuel_unit'].isnull() == True])

180

In [72]:
# percentage
round(len(fuel_data[fuel_data['fuel_unit'].isnull() == True]) / len(fuel_data), 3)

0.006

## Fuel Type Code with lowest average fuel cost per unit burned

#### Gas

In [94]:
min_value = fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().reset_index()['fuel_cost_per_unit_burned'].min()
grouped_fuel_type = fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().reset_index()

grouped_fuel_type[grouped_fuel_type['fuel_cost_per_unit_burned'] == min_value]

  fuel_type_code_pudl  fuel_cost_per_unit_burned
1                 gas                  13.659397

## Creating a bigger list from two small lists

#### A.extend is the method to use but you can't catch the result in another variable, say A_B
##### instead A is rather mutated to now be the bigger list

In [86]:
A = [1, 2, 3, 4, 5, 6]
B = [13, 21, 34]

In [87]:
A.extend(B)

In [88]:
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]